@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
}

body {
    background-color: white;
}

main {
    height: 80vh;
}


footer {
    width: 100%;
    color: white;
    height: 20px;
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: #100D40;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 25px;
}

#footer_contacts {
    margin-right: 40px;
}

#footer_contacts h1 {
    margin-bottom: 10px;
}

#footer_social_media {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 20px;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#email {
    background-color: #6495ed;
}

#div-footer-list {
    margin-left: 40px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
}
.footer-list h3 {
    margin-bottom: 10px;
}

.footer-list .mapa-br {
    width: 122px;
    height: 124px;
}

.footer-list .footer-link {
    color: white;
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#footer_subscribe p {
    color: white;
}

#input_email {
    display: flex;
    align-items: center;
    background-color: white 4px;
    border-radius: 4px;
    margin-right: 20px;
}

#input_email input {
    padding: 12px;
    width: 100%;
    color: white;
    border: 1px #EAEAEA solid;
    border-radius: 6px;
}


#input_email input button {
    background-color: white;
    border: none;
    color: black;
    padding: 0px 20px;
    font-size: 20px;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_email input button:hover {
    opacity: 0.8;
}

.button-ipt {
    margin-left: 10px;
}

.button-cadastro {
    width: 150px;
    height: 40px;
    background-color: #8F51E7;
    border-radius: 25px;
    border: 1px solid #8F51E7;
    color: #F5F5F5;
    transition: all .4s linear;
}

.button-cadastro:hover {
    border-radius: 40px;
    background-color: #7632d5;
    width: 160px;
  }

.button-cadastro b {
    color: #EAEAEA;
}

button {
    cursor: pointer;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: grey;
    font-size: 10px;
    padding: 20px;
}

.header {
    background-color: #100D40;
    width: 100%;
    height: 100px;
    border-bottom: 1px #8F51E7 solid;
}

.header .container {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo1 {
    margin: 0;
    width: 100px;
    height: 100px;
}

.logo2 {
    margin: 0;
    width: 100px;
    height: 100px;
}

.header .container li {
    list-style: none;
    display: inline;
    padding: 0 30px;
}

.header .container li a {
    text-decoration: none;
    color: white;
}